
@font-face {
    font-family: Shaimus;
    src: url(./Fonts/Shaimus/Shaimus\ Grunge\ Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Shaimus;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    overflow: hidden;
}
.loader{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, #000000 30%, #232d8a 100%);
  
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 0;
    z-index: 99;
}

.loaderContainer{
    width: 90%;
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.line1 h1,.line2 h1,.line3 h1{
    font-size: 8vh;
    /* font-weight: 700; */
}
.line2{
    display: flex;
    align-items: center;
}
.line3{
    display: flex;
    gap: 3vh;
}
.loaderVideo{
    overflow: hidden;
    border-radius: 30px;
}
.loaderVideo video{
    height: 15vh;
    width: 13.5vw;
  
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -50px;
}

.logo :nth-child(3){

    font-size: 11vh;
    margin-left: -80px;  
}
.logo :nth-child(1){

    font-size: 11vh;
    margin-right: -80px;  
}
.logoImage img{
    height: 25vh;
    width: 22vw;
    position: relative;
    z-index: 0;
}

#timer {
    height: 8vw;
    width: 18vw;
    overflow: hidden;
   
    position: absolute;
    bottom: 4%;
    right: 2%;
    color: #fff;
    text-align: right;
    z-index: 99;

}

#timer h1 {
    font-size: 3vw;
    transition-delay: 1s;
    transition: all ease 0.8s;
}


#timer button {
    padding: 0.3vw 1.2vw;
    font-size: 1.6vw;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition-delay: 1s;
    transition: all ease 0.8s;
    font-weight: 900;
    opacity: 0;
    position: relative;
    overflow: hidden;
 
}

button::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    position: absolute;
    bottom: -100%;
    transition: all ease 0.4s;
    left: 0;
}

button:hover::after {
    bottom: 0;
   
}

button span {
    position: relative;
    transition: all ease 0.4s;
    z-index: 9;
}


#timer button:hover{
    border: 2px solid #060606;
}
.menu{
    position: relative;
    z-index: 6;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    background-color:royalblue ;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: none;
}
.menudiv1, .menudiv2, .menudiv3, .menudiv4{
    height: 100vh;
    width: 25vw;
    background-color: black;
} 
.menuText{
    padding: 10vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}
.menuText h1{
    font-size: 10vh;
    font-family: Shaimus;
    z-index: 2;
}
.menuImg{
    position: absolute;
    height: 40vh;
    width: 15vw;
    overflow: hidden;
}
.menuButton{
    height: 6vh;
    width: 7vw;
    background-color: red;
    position: fixed;
    bottom: 1vh;
    left:50%;
    z-index: 8;
    transform: translate(-50%,-50%);
}
.page1{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;

    
}
.page2{
    height: 110vh;
    width: 100vw;
    background-color: #3e3e41;
}
.page3{
    height: 100vh;
    width: 100vw;
    background-color: blue;
}
.pageVideo{
    height: 100vh;
    width: 50vw;
    overflow: hidden;

}
.pageVideo video{
    height: 100vh;
    width: 100vw;
    scale: 1.78;
 
}
.pagetext{
    height: 100vh;
    width: 50vw;
    background-color: #fff;

}
.slide1{
    height: 23vh;
    width: 20vw;
   background-color: #fff;
    position: absolute;
    top: 53vh;
    left: 30vw;
}
.slide2{
    height: 23vh;
    width: 70vw;
 background-color: #fff;
    position: absolute;
    bottom: 1.5vh;
    right: 0;
}
.scroller{
    height: 18vh;
    width: 4.5vw;
    
    position: fixed;
    z-index: 33;
    top: 30%;
    right: 0%;
}
.box1{
 height: 2vh;
 width: 2vw;
 border: 2px solid black;
 
}
.box4{
 height: 2vh;
 width: 2vw;
 border: 2px solid black;
 margin-top: 8px  ;
}
.box2{
 height: 2vh;
 width: 2vw;
 border: 2px solid black;
 margin-top: 14px  ;
}
.box3{
    position: absolute;
    top:-7.5px;
    right:34px;
 height: 3.5vh;
 width: 3.5vw;
 border: 2px solid black;
 border-radius: 10px;

}